.cover__link{
  position: relative;
  display: flex;
  max-width: 1184px;
  min-height: 740px;
  flex-direction:column;
  text-decoration: none;
  align-items: center;
  }
  @media (max-width:1024px){
    .cover__link{
      max-width:1024px;
      min-height:640px;
    }
  }
  @media (max-width:768px){
    .cover__link{
      max-width:768px;
      min-height:480px;
      margin-top:90px;
    }
  }
  @media (max-width:320px){
    .cover__link{
      margin-top:66px;
      max-width:320px;
      min-height:200px;
    }
  }
