.header__logo{
  margin-top: 28px;
  max-width: 176px;
  height: 52px;
}

@media (max-width:320px) {
  .header__logo{
    margin-top:16px;
    max-width:142px;
    max-width: 142px;
    height: 42px;
  }
}
