.lead__title{
  max-width: 720px;
  margin:0 auto;
  text-align: center;
  color: white;
  font-style: black;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}
@media (max-width:768px) {
  .lead__title{
    max-width:288px;
    font-size: 40px;
    line-height: 44px;
  }
}
@media (max-width: 320px) {
  .lead__title{
    max-width:288px;
    font-size: 40px;
    line-height: 44px;
  }
}
