.lead__image{
  margin-top:64px;
  width: 100%;
  margin-bottom: 8px;
}
@media (max-width: 1024px) {
  .lead__image{
    max-width:928px;
    margin-top:56px;
  }
}
@media (max-width: 768px) {
  .lead__image{
    max-width:768px;
    margin-top:56px;
  }
}
@media (max-width: 320px) {
  .lead__image{
    max-width:320px;
    height: 200px;
    margin-top:40px;
  }
}
